@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Red Hat Mono;
  color: white;
  letter-spacing: 1.5px;
}

body, html {
  height:  100%;
}

.opacity {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1.5%; 
  flex: 1;
}

.header {
  width: 100%;
  background-color: rgba(100, 135, 220);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

#root {
  height: 100%;
  display: flex;
  /* opacity: 0; */
  flex: 1;
  transition: opacity ease 0.3s;

}

.main {
  flex: 1 1;
  background-color: rgba(110, 170, 220);
  display: flex;
}

/* logo */
.logo {
  width: 3vw;
  height: 3vw;
}

.logo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* timer */

.header_timer {
  font-family: "Share Tech Mono", arial;
  font-size: 2em;
}

/* settings */

.settings {
  width: 3vw;
  height: 3vw;
}

.settings-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home */
.home-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__title {
  font-size: 2rem;
  color: white;
}

.home-types__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-types-list__item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 80%;
  background-color: rgba(245, 220, 145, 0.5);
  margin-bottom: 2%;
  border-radius: 5px;
}

.type-item__title {
  font-size: 2rem;
  flex: 1;
  margin: 0;
  align-self: center;
  color: white;
  text-align: center;
}

.type-item-logo__wrap {
  width: 23%;
  justify-self: flex-end;
  align-self: center;
}

.type__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* settings */

.settings_header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(109, 206, 245);
  flex: 1;
  width: 63%;
  -webkit-box-shadow: 0px 12px 14px -4px rgba(109, 206, 245, 0.8);
  -moz-box-shadow: 0px 12px 14px -4px rgba(109, 206, 245, 0.8);
  box-shadow: 0px 12px 14px -4px rgba(109, 206, 245, 0.8);
}

.settings-title {
  margin: 0;
}

.settings-block {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.settings-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70vw;
  height: 90vh;
  background-color: rgb(109, 206, 245);
  border: 2 px solid white;
  border-radius: 20px;
  padding: 0 2% 2% 2%;
  font-size: 1.5em;
  z-index: 66666;
}

.settings-scroll__wrap {
  margin-top: 70px;
}

.settings-block::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.close-menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: -33px;
  top: 25px;
  position: relative;
}

.close-menu::after,
.close-menu::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  color: white;
  background: white;
}

.close-menu::before {
  transform: rotate(45deg);
}

.close-menu::after {
  transform: rotate(-45deg);
}

.sounds__row,
.gameplay__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

/* checkboxs */

input,
select,
label {
  cursor: pointer;
}

.settings-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.settings-checkbox:not(checked) {
  position: absolute;
  visibility: hidden;
}

.settings-checkbox:not(checked)+label.ios-switch {
  position: relative;
  padding: 0 0 0 60px;
  display: block;
  height: 30px;
}

.settings-checkbox:not(checked)+label.ios-switch:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  border-color: #cdd1da;
  box-shadow: #cdd1da 0px 0px 0px 0px inset;
  transition: border 0.4s, box-shadow 0.4s;
  background-color: #ebecec;
}

.settings-checkbox:not(checked)+label.ios-switch:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.settings-checkbox:checked+label.ios-switch:before {
  box-shadow: #4ad963 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #4ad963;
  border-color: #4ad963;
}

.settings-checkbox:checked+label.ios-switch:after {
  left: 26px;
}

/* select */
.settings_select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.settings_select::-ms-expand {
  display: none;
}

.settings_select:hover {
  border-color: #888;
}

.settings_select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.settings_select option {
  font-weight: normal;
}

*[dir="rtl"] .settings_select,
:root:lang(ar) .settings_select,
:root:lang(iw) .settings_select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* range */
.range-slider {
  margin: 20px;
  appearance: none;
  outline: none;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(75, 214, 99);
}

.range-slide::-webkit-slider-runnable-track {
  background-color: white;
}

.range-slider::-webkit-slider-thumb {
  background: #fafafa;
  appearance: none;
  box-shadow: 1px 2px 26px 1px #bdbdbd;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#input-interval {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 50%;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

#input-interval::-ms-expand {
  display: none;
}

#input-interval:hover {
  border-color: #888;
}

#input-interval:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.hidden {
  visibility: hidden;
}

/*categories-page*/
.categories__block {
  flex: 1;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  grid-gap: 0.5em;
}

.categories-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 1s;
  background-color: rgba(31, 132, 241, 0.7);
  /* border-radius: 5px; */
  background-position: center center;
  background-size: cover;
  filter: brightness(0.8);
}

.categories-list__item:hover {
  transform: scale(1.02);
  filter: brightness(1);
  box-shadow: 0px 0px 27px 10px rgb(255 255 255 / 60%);
}

.category-title {
  text-transform: uppercase;
  filter: brightness(1);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

/* game-page */

.questions-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-slider__title {
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

.game-slider__list {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.slider-item__link {
  display: block;
  width: 20px;
  height: 20px;
}

.slider-item__link:link {
  background-color: white;
}

.slider-item__link:active {
  background-color: #e8ffa7;
}

.slider-item__link:visited {
  background-color: grey;
}

.questions-wrap {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
}

.question {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.game-answers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  justify-items: center;
}

.game-btn {
  min-width: 50%;
  max-width: 80%;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.game-btn:hover {
  transform: scale(1.1);
}

.game-question {
  margin: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}

.game-picture__wrap{
  flex: 1;
  min-width: 50%;
  max-width: 70%;
  min-height: 10vh;
  max-height: 45vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-picture,
.modal-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrong {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}


/* score */

.score {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-score{
  border-collapse: collapse;
  justify-self: center;
  align-self: center;
  width: 100%;

}

th {
  min-height: 50px;
  border-bottom: 2px solid white;
}
td {
  height: 50px;
  text-align: center;
}

.table__header {

  font-size: 20px;
}

.tr__data {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}






/* modal */
	
.modal {
  /* display: none; */
  background-color: rgba(100, 135, 220);
  border-radius: 2%;
  padding: 3%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.modal-picture__wrap{
  width: 75%;
}



.body_block {
  overflow: hidden;
  margin-right: 17px;
}

.button {
  cursor: pointer;
  color: white;
  line-height: 1.3;
  padding:  0.5em 0.8em;
  max-width: 50%;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 4%);
  border-radius: 0.5em;
  background-color: rgba(75, 214, 99, 0.7);
}







/* result */
.result{
  align-self: center;
  margin: 0 auto;
  height: 50vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.result-text{
  justify-content: center;
}

.result-title {
  font-size: 3em;
}

.result-subtitle{
  font-size: 2em;
}

.result-answers,
.result-time {
  font-size: 1.5em;
}

#result-name {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  
}




















@media screen and (max-width: 450px) {
  .categories__list {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@media screen and (max-width: 720px) {
  .categories__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
}